<div class="px-6 ml-36 relative">
    <div class="bg-gray-100 rounded-lg w-[60vw] shadow-lg">
        <div class="p-4 flex justify-between">
            <div class="flex-col p-2">                
                <span class="font-bold text-lg"> Cambiar la contreaseña de tu cuenta </span>          
                <p> No lo compartas con nadie </p>
            </div>
            <div class="p-2">
                <button  class="p-3 bg-dagyel rounded-lg font-bold hover:bg-yellow-600 duration-200">
                    Cambiar contraseña
                </button>
            </div>
        </div>                      
    </div>
</div>
